/* Importar Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos globales */
* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

body {
    background-color: #2B3033;
    font-family: Arial, sans-serif;
}


/* Variables */
:root {
  --primary-color: #218CC5;
  --background-color: #34779b;
  --dark-color: #019CF0;
  --second-color: #385D70;
  --third-color: #2E3E46;
  --color: #2B3033;
}

/* Navegacion */

.company-name{
  margin-left: 40%;
  width: 200px;
}

nav {
  background-color: var(--background-color);
  overflow: hidden;
  font-size: 1.5rem;
  padding-left: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  float: left;
  margin-right: 20px;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  color: var(--color);

}
.ingresar-button {
  background-color: #34779B;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.ingresar-button:hover{
  background-color:#2B3033;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--second-color);
}

.logo {
  width: 50px;
  height: 50px;
  padding: 0 5%;
  position: relative;
  left: -40px;
  bottom: 5px; 
}

.logo,.company-name {
  float: left;
  color: #fff;
  margin-left: 1rem;
}


/* User Container */
.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
  justify-content: end;
}

.hg1 > i {
  font-size: 3rem;
  color: #fff;
  padding-right: 2.5rem;
}

.container-user.fa-basket-shopping {
  font-size: 3rem;
  color: var(--primary-color);
  padding-left: 1rem;
}

/*SEARCH*/
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #search {
    border: 3px solid #34779B;
    border-radius: 15px;
    padding: 5px;
    margin-right: 5px;
    width: 200px;
    font-size: 14px;
  }
  
  #search-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
  }
  
  #microphone-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
  }
  
  #search-button:hover{
    color: #34779B;
  }
  
  #microphone-button:hover{
    color: #34779B;
  }
  
  /*BOTON sINGRESAR*/
  .search-form button {
    background-color: #2E3E46;
    color: white;
    border-radius: 25px;
    padding: 5px 10px;
    margin-left: 1000px; /* Add this line to move the button to the right */
    margin-right: 20px;
  }

  /*LUPA MICROFONO*/
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #search {
    border: 3px solid #34779B;
    border-radius: 15px;
    padding: 5px;
    margin-right: 5px;
    width: 200px;
    font-size: 14px;
  }
  
  #search-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    margin-right: 8px;
  }
  
  #microphone-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    margin-right: 8px;
  }
  
  #search-button:hover{
    color: #34779B;
  }
  
  #microphone-button:hover{
    color: #34779B;
    
  }

  /*CORPORATIVO*/
  .corporativo{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;    
    display: flex;
  }

  .parrafo{
    margin-top: -240px;
    margin-left: 500px;
    margin-right: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: white;

    a{
      color: white;
      text-decoration: none;
    }
  }
  
  .sidebar {
    width: 1640px;
    height: 90px;
    background-color: #34779B;
    padding: 20px;
    margin-left: -400px;
    
  }

  .sidebar a {
    color: white;
    text-decoration: none;
    margin-right: 10px; /* Agregar margen a la derecha */
  }

  .servi{
    letter-spacing: 155px;
    font-size: x-large;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
  }
  /* container blancos*/
  .container-cajas {
    display: flex;
    justify-content: space-between;
    margin-left: -40rem;
  }
  
  .caja {
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: -100;
    padding: 20px;
  }
  
  /*NUESTRO EQUIPO*/
  .tt{
    font-size: xx-large;
    justify-content: center;
    color: #ffffff;
  }
  /*RECUADROS PERSON*/
  
  .txt-1{
  margin-left: 140px;
  margin-top: -100px;
  font-size: medium;
  color: #000000;

  }
  
  .txt-2{
    margin-left: 760px;
    margin-top: -110px;
    font-size: medium;
    color: #000000;

  }

  .txt-3{
    margin-left: 1350px;
    margin-top: 10px;
    margin-top: -110px;

    font-size: medium;
    color: #000000;
  }

  
  
  
  
  
  /*FOOTER*/
  .footer{
    background-color: #34779B;
    margin-top: 40px;
  }
  
  .container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 99%;
    margin: 10px;
  }
  
  .menu-footer{
    display: grid;
    grid-template-columns: repeat(4, 3fr) 80px;
    gap: 4rem;
    justify-items: center;
    height: 400px;
  }
  
  .title-footer{
    font-weight: 600;
    font-size: 20px;
    text-transform: none;
    margin: 40px;
  }
  
  .contact-info,
  .information,
  .my-account,
  .products{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: 105%;
  }
  
  .contact-info ul,
  .information ul,
  .my-account ul,
  .products ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .contact-info ul li,
  .information ul li,
  .my-account ul li,
  .products ul li{
    list-style: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300px;
  }
  
  .information ul li a,
  .my-account ul li a,
  .products ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
  }
  
  .information ul li a:hover,
  .my-account ul li a:hover,
  .products ul li a:hover{
    color: #2B3033;
  }
  
  .social-icons{
    display: flex;
    gap: 1.5rem;
    margin: 40px;
  }
  
  .social-icons span{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons span i{
    color: #fff;
    font-size: 1.2rem;
  }
  
  .face{
    background-color: #3b5998;
  }
  
  .twit{
    background-color: #00acee;
  }
  
  .yout{
    background-color: #c4302b;
  }
  
  .pint{
    background-color: #c8232c;
  }
  
  .inst{
    background: linear-gradient(
        #405de6,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #fcaf45
    );
  }
  
  
  
  .copyright{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    border-top: 1px solid #fff;
    width: 100%;
  }
  
  .copyright p{
    font-weight: 100px;
    font-size: 19px;
    margin-top: -10px;
  }
  
  @media (max-width: 768px){
  
    html{
        font-size: 55%;
    }
  
    .hero{
        padding: 2rem;
    }
  
    .customer-support{
        display: none;
    }
  
    .content-shopping-cart{
        display: none;
    }
  
    .navbar{
        padding: 1rem 2rem;
    }
  
    .navbar .fa-bars{
        display: block;
        color: #fff;
        font-size: 3rem;
    }
  
    .menu{
        display: none;
    }
  
    .content-banner{
        max-width: 50rem;
        margin: 0 auto;
        padding: 25rem 0;
    }
  
    .container-features{
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }
  
    .card-feature{
        padding: 2rem;
    }
  
    .heading-1{
        font-size: 2.4rem;
    }
  
    .card-category{
        height: 12rem;
    }
  
    .card-category p{
        font-size: 2rem;
        text-align: center;
        line-height: 1;
    }
  
    .card-category span{
        font-size: 1.4rem;
    }
  
    .container-options{
        align-items: center;
    }
  
    .container-options span{
        text-align: center;
        padding: 1rem 2rem;
    }
  
    .container-products{
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }
  
    .gallery{
        grid-template-rows: repeat(2, 15rem);
    }
  
    .container-blogs{
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
  
        height: 52rem;
    }
  
    .menu-footer{
        grid-template-columns: repeat(2, 1fr);
    }
  
    .copyright{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
  
  
  
  
  
  @media (max-width: 468px){
  
    html{
        font-size: 42.5%;
    }
  
    .content-banner{
        max-width: 50rem;
        padding: 22rem 0;
    }
  
    .heading-1{
        font-size: 2.8rem;
    }
  
    .card-feature{
        flex-direction: column;
        border-radius: 2rem;
    }
  
    .feature-content{
        align-items: center;
    }
  
    .feature-content p{
        font-size: 1.6rem;
        text-align: center;
    }
  
    .container-options span{
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        font-weight: 500;
    }
  
    .container-products{
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;
    }
  
    .container-img .discount{
        font-size: 2rem;
    }
  
    .content-card-product h3{
        font-size: 2.2rem;
    }
  
    .gallery{
        grid-template-rows: repeat(2, 20rem);
    }
  
    .blogs{
        padding: 2rem;
    }
  
    .container-blogs{
        grid-template-columns: 1fr;
        height: 74rem;
    }
  
    .content-blog h3{
        font-size: 2.4rem;
    }
  
    .content-blog span{
        font-size: 1.8rem;
    }
  
    .content-blog p{
        font-size: 2.2rem;
    }
  
    .btn-read-more{
        font-size: 1.8rem;
    }
  
    .contact-info ul,
    .information ul,
    .my-account ul{
        display: none;
    }
  
    .contact-info{
        align-items: center;
    }
  
    .menu-footer{
        grid-template-columns: 1fr;
    }
  
    .content p{
        font-size: 1.6rem;
    }
  }